<!DOCTYPE html>
<html>
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <%- partial('_partial/header') %>
  <main class="main"><%- body %></main>
  <%- partial('_partial/footer') %>
  <%- js('js/index.js') %>
</body>
</html>