<% if (is_tag() === false) { %>
  <div class="tag-box">
    <h3>Tags</h3>
    <%- list_tags() %>
  </div>
<% } else if (is_tag() === true) { %>
  <div class="tag-box">
    <h3><%=page.tag%></h3>
    <% page.posts.each(post => { %>
      <div class="tag-item">
        <a href="<%=url_for(post.path)%>">
          <%=post.title%>
        </a>
        <time datetime="<%=date_xml(post.date)%>">
          <%=date(post.date)%>
        </time>
      </div>
    <% }); %>
  </div>
  <%- partial('_partial/paginator') %>
<% } %>